<li class="player-list-item">
    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="avatar" />
    <div class="player-name">
        <div>{{player.name}}</div>
        <div class="subtitle">{{player.role}}</div>
    </div>
    <div class="player-vote">
        <div>{{player.vote}}</div>
    </div>   
    <div class="player-status">
        <i *ngIf="player.status" class="material-icons green">sync</i>
        <i *ngIf="!player.status" class="material-icons red">sync_problem</i>
    </div>
</li>