h1 {
    margin: 1em;
}

.room-wrapper {
    display: flex;

    .cards {
        flex: 3;
    }

    .right-block {
        margin: 10px;
    }

    .timer, .actions {
        margin-bottom: 10px;
    }
}