<li class="player-list-item">
    <mat-icon class="avatar">person</mat-icon>
    <div class="player-name">
        <div>{{player.name}}</div>
        <div class="subtitle">{{player.role}}</div>
    </div>
    <div class="player-menu">
        <ng-content></ng-content>
    </div>
    <div class="player-vote">
        <div *ngIf="shouldShowVote">{{player.vote}}</div>
        <div *ngIf="!shouldShowVote && player.vote">
            <mat-icon>check</mat-icon>
        </div>
    </div>
    <div class="player-status">
        <mat-icon *ngIf="player.status" class="green">sync</mat-icon>
        <mat-icon *ngIf="!player.status" class="red">sync_problem</mat-icon>
    </div>
</li>