<mat-tab-group>
    <mat-tab label="Create a Room">
        <mat-horizontal-stepper linear="true" class="stepper" #stepper>
            <mat-step [stepControl]="createFormGroup">
                <form [formGroup]="createFormGroup">
                    <ng-template matStepLabel>Enter room name</ng-template>
                    <mat-form-field>
                        <input matInput placeholder="Room Name" formControlName="roomCtrl" required>
                    </mat-form-field>
                    <div>
                        <button mat-raised-button color="primary" [disabled]="createFormGroup.invalid" (click)="createRoomClicked()">Create Room</button>
                    </div>
                </form>
            </mat-step>
        </mat-horizontal-stepper>
    </mat-tab>
    <mat-tab label="Join a Room">
        <mat-horizontal-stepper linear="true" class="stepper" #stepper>
            <mat-step [stepControl]="joinFormGroup">
                <form [formGroup]="joinFormGroup">
                    <ng-template matStepLabel>Enter room id</ng-template>
                    <mat-form-field>
                        <input matInput placeholder="Room Id" formControlName="roomCtrl" required>
                    </mat-form-field>
                    <div>
                        <button mat-raised-button color="primary" [disabled]="joinFormGroup.invalid" (click)="joinRoomClicked()">Join Room</button>
                    </div>
                </form>
            </mat-step>
        </mat-horizontal-stepper>
    </mat-tab>
</mat-tab-group>