<mat-horizontal-stepper linear="true" class="stepper">
    <mat-step [stepControl]="formGroup">
        <form [formGroup]="formGroup">
            <ng-template matStepLabel>{{stepLabel}}</ng-template>
            <mat-form-field>
                <input matInput [placeholder]="inputPlaceholder" formControlName="formControl" required>
            </mat-form-field>
            <div>
                <button mat-raised-button color="primary" [disabled]="formGroup.invalid" (click)="buttonClicked()">{{buttonLabel}}</button>
            </div>
        </form>
    </mat-step>
</mat-horizontal-stepper>